h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid black;
}

h2 {
  color: Yellow;
  background-color: black;
  border: 1px solid black;
}
p {
  color: red;
}

img {
  width: 400px,
  height: auto
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
